@page "/"
@inject DialogService DialogService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<div >
    <a href="https://learn.microsoft.com/en-us/aspnet/core/data/ef-mvc/complex-data-model?view=aspnetcore-8.0" target="_blank">Complex model tutorial</a>
</div>


<RadzenButton Click="@ButtonClicked" Text="Zdravo"></RadzenButton>
@code {
    void ButtonClicked()
    {
        DialogService.Alert("Zdravo, Miodrag");
    }
}
