@page "/"
@inject DialogService DialogService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

https://learn.microsoft.com/en-us/aspnet/core/data/ef-mvc/complex-data-model?view=aspnetcore-8.0


<RadzenButton Text="@text"></RadzenButton>
@code {
    string text = "Zdravo";
}

<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>
@code {
    void ButtonClicked()
    {
        DialogService.Alert("Hi, Miodrag");
    }
}
